h3{
    font-variant: small-caps;
    text-align: center;
}

.list{
    border-radius: 5px;
    background-color:white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}


.id{
    font-size: 20px;
    padding: 50px;
    margin-bottom: 0px;
    background-color: #3C6598;
    padding-bottom: 100px;
    color: white;
}

/* color de plexus : #F7C03E */

.no-margin-bottom{
    margin-bottom: 0px;
}

.container{
    width: 100%;
}

.request-title {
    font-size: 20px;
    font-weight: bold;
    color: #3C6598;
}

.col-md-2{
    padding-left: 0px;
    padding-right: 0px;
}

.date{
    text-align: right;
    padding-top: 5px;
    margin-bottom: 25px;
}

.circle{
    border-radius: 50px;
    background-color: red;
}

.requester{
    color: green;
}

.border-top{
    border-top:4px solid #F7C03E;
}



