h3{
    font-variant: small-caps;
    text-align: center;
}

.list{
    border-radius: 5px;
    background-color:white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-bottom-right-radius: 0px!important;
}


.id{
    font-size: 20px;
    padding: 50px;
    margin-bottom: 0px;
    background-color: #3C6598;
    padding-bottom: 100px;
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* color de plexus : #F7C03E */

.no-margin-bottom{
    margin-bottom: 0px;
}

.container{
    width: 100%;
}

.request-title {
    font-size: 20px;
    font-weight: bold;
    color: #3C6598;
    padding-left: 20px!important;    
}

.request-description {
    padding-left: 20px!important;
}

.col-md-2{
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-10{
    padding-right: 0px;
    padding-left: 0px;
}

.request-date{
    text-align: right;
    padding-top: 5px;
    margin-bottom: 0px;
    padding-right: 20px!important;
}

.circle{
    border-radius: 50px;
    background-color: red;
}

.requester{
    color: green;
    padding-left: 20px!important;
}

.border-top{
    border-top:4px solid #F7C03E;
}

.profile{
    width: 30px;
    margin-right: 10px;
    border-radius: 100%;
}

.cvs{
    padding: 0px!important;
    padding-bottom: 11px!important;
    margin-top: 25px;
    padding-left: 20px!important;
    margin-top: 7px;
    
}

.dropdown-toggle{
    padding-right: 50px;
    background-color: transparent!important;
}
.dropdown-toggle:hover{
    background-color:transparent !important;
}

.dropdown-toggle:focus{
    background-color:transparent !important;
}

.dropdown-menu {
    top: 37px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.dropdown-menu>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

