<app-request-filter (findRequests)="requestFilter($event)"></app-request-filter>
<!-- PAGINATION -->
  <div class="col-md-12 list" >
    <ngx-paginate
    [page]="pageConf"
    [options]="optionConf"
    (pageChange)='setPage($event)'>
  </ngx-paginate>
</div>



<div class="col-md-11">
  <div class="row animated fadeIn">
    <div *ngFor="let request of requests" class="listRequest">
        <app-request [request] = "request"  class="animated fadeIn"></app-request>
    </div>
    <div *ngIf="noRegisters" class="animated fadeIn">
      <h1 class="registers">No hay registros</h1>
    </div>
  </div>
</div>

<i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true" (click)="goToTop()"></i>
