<div class="col-md-offset-4 col-md-4">
<div class="row animated fadeInRight list">
  
  <div class="col-md-12">
    <div class="row header">
      <h3>New Account</h3>
    </div>
    <form name="formNewAccount" #newaccount="ngForm" (ngSubmit)="createAccount(newaccount)" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" name="username" [(ngModel)]="user.username" #usn="ngModel" required [ngStyle]="{ border: (!usn.valid && usn.dirty) || usernameExists  ?  '1px solid red': '' }"
        (focusout)="userExists()" />

        <div class="required animated fadeInDown" *ngIf="!usn.valid && usn.dirty">
          <span>Username is required</span>
        </div>
        <div class="required animated fadeInDown" *ngIf="usernameExists">
          <span>Username exist</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #pass="ngModel" required [ngStyle]="{ border: !pass.valid && pass.dirty  ?  '1px solid red': '' }"
        />
        <div class="required animated fadeInDown" *ngIf="!pass.valid && pass.dirty">
          <span>Password is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password2">Repeat Password</label>
        <input type="password" class="form-control" name="password2" [(ngModel)]="passwordAux" #passrepeat="ngModel" required [ngStyle]="{ border: !passrepeat.valid && passrepeat.dirty  ?  '1px solid red': '' }"
        />
        <div class="required animated fadeInDown" *ngIf="!passrepeat.valid && passrepeat.dirty">
          <span>Repeat password is required</span>
        </div>
        <div class="required animated fadeInDown" *ngIf="(pass.value != passrepeat.value) && passrepeat.touched">
          <span>Password must be the same</span>
        </div>
      </div>
      <div class="form-group">
        <label for="profile">Profile</label>
        <select class="form-control" name="profile" [(ngModel)]="user.profile" #prof="ngModel" required [ngStyle]="{ border: !prof.valid && prof.dirty  ?  '1px solid red': '' }">
          <option value="" selected>-- Select Profile --</option>
          <option *ngFor="let profile of profiles" [value]="profile">{{profile}}</option>
        </select>
        <div class="required animated fadeInDown" *ngIf="!prof.valid && prof.dirty">
          <span>Profile is required</span>
        </div>

      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!newaccount.valid">Create</button>
      </div>
    </form>
  </div>
</div>
</div>