h3{
    text-decoration: underline;
    font-variant: small-caps;
}

.content{
    padding-left: 50px;
}

p{
    color:grey;
}
.textAlign{
    text-align: center;
}

span{
    color:red;
}

.required{
    margin: 10px;
}
 
