<div class="col-md-offset-1 col-md-10">
  <div class="row animated fadeIn list">

    <div class="col-md-12">
      <div class="row header">
        <h3>Nueva solicitud</h3>
      </div>

      <form name="formNewRequest" #newrequest="ngForm" (ngSubmit)="createRequest()" novalidate>

        <fieldset class="form-group" *ngIf="widget==1">
          <div class="container">
            <legend>DATOS GENERALES</legend>
            <div class="form-group row">
              <label for="petitioner" class="col-md-3 col-form-label">SOLICITANTE</label>
              <div class="col-md-9">
                {{user.name}} {{user.lastName}}
              </div>
            </div>

            <div class="form-group row">
              <label for="title" class="col-md-3 col-form-label">PERFIL</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="title" [(ngModel)]="request.profile" #title="ngModel" required [ngStyle]="{ border: (!title.valid && title.dirty)  ?  '1px solid red': '' }"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="destask" class="col-md-3 col-form-label">DESCRIPCION ROL</label>
              <div class="col-md-9">
                <textarea class="form-control" name="destask" [(ngModel)]="request.descTask" #destask="ngModel" required maxlength="250"
                  [ngStyle]="{ border: !destask.valid && destask.dirty  ?  '1px solid red': '' }"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="nres" class="col-md-3 col-form-label">RECURSOS</label>
              <div class="col-md-3">
                <select class="form-control" name="nres" [(ngModel)]="request.nResources" #numrec="ngModel" required [ngStyle]="{ border: !numrec.valid && numrec.dirty ?  '1px solid red': '' }">
                  <option value="" selected>- Seleccionar -</option>
                  <option *ngFor="let nr of nResources" [value]="nr">{{nr}}</option>
                </select>
              </div>
              <label for="expstartdate" class="col-md-3 col-form-label">FECHA DE INCORPORACION</label>
              <div class="col-md-3">
                <input type="date" class="form-control" name="hoy" style="text-align:center;" [ngModel]="request.startDate | date:'yyyy-MM-dd'"
                  (ngModelChange)="assignStartDate($event)" min="{{request.startDate | date:'yyyy-MM-dd'}}" required>
              </div>
            </div>

            <button class="btn btn-secondary btn-previous" type="button" (click)="next()" [disabled]="!newrequest.valid">
              <i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </fieldset>


        <fieldset class="form-group" *ngIf="widget==2">
          <div class="container ">

            <legend>REQUERIMIENTOS TÉCNICOS</legend>


            <div class="form-group row no-margin-bottom">

              <div class="col-md-8">
              </div>
              <div class="col-md-2 align-center">
                <label for="expyearsreq">EXP. AÑOS</label>
              </div>
              <div class="col-md-2 align-center">
                <label for="reqdes2">REQ / DES</label>
              </div>
            </div>

            <div class="form-group row padding-bottom">
              <div class="col-md-4">
                <label for="devenv">
                  ENTORNOS DE DESARROLLO
                </label>
              </div>
              <div class="col-md-4">
                <select class="form-control" name="devenv" [(ngModel)]="request.reqTechs[0].techscope" #dve="ngModel" required [ngStyle]="{ border: !dve.valid && dve.dirty  ?  '1px solid red': '' }">
                  <option value="" selected>- Seleccionar -</option>
                  <option *ngFor="let dev of developEnv" [value]="dev">{{dev}}</option>
                </select>
              </div>

              <div class="col-md-2">
                <select class="form-control" name="expyearsreqDE" [(ngModel)]="request.reqTechs[0].exp" #expyearsreqDE="ngModel" required
                  [ngStyle]="{ border: !expyearsreqDE.valid && expyearsreqDE.dirty    ?  '1px solid red': '' }">
                  <option value="" selected>- Selecionar -</option>
                  <option *ngFor="let ex of nResources" [value]="ex">{{ex}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-control" name="reqdesDE" [(ngModel)]="request.reqTechs[0].reqdes" #reqdesDE="ngModel" required [ngStyle]="{ border: !reqdesDE.valid && reqdesDE.dirty  ?  '1px solid red': '' }">
                  <option value="" selected>- Selecionar -</option>
                  <option *ngFor="let rd of reqdes" [value]="rd">{{rd}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row padding-bottom">
                <div class="col-md-4">
                    <label for="proglang">
                      LENGUAJES DE PROGRAMACION
                    </label>
                  </div>
              <div class="col-md-4">
                <select class="form-control" name="proglang" [(ngModel)]="request.reqTechs[1].techscope" #proglang="ngModel" required [ngStyle]="{ border: !proglang.valid && proglang.dirty  ?  '1px solid red': '' }">
                  <option value="" selected>- Seleccionar -</option>
                  <option *ngFor="let pr of programLang" [value]="pr">{{pr}}</option>
                </select>
              </div>

              <div class="col-md-2">
                <select class="form-control" name="expyearsreqPL" [(ngModel)]="request.reqTechs[1].exp" #expyearsreqPL="ngModel" required
                  [ngStyle]="{ border: !expyearsreqPL.valid && expyearsreqPL.dirty    ?  '1px solid red': '' }">
                  <option value="" selected>- Seleccionar-</option>
                  <option *ngFor="let ex of nResources" [value]="ex">{{ex}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-control" name="reqdesPL" [(ngModel)]="request.reqTechs[1].reqdes" #reqdesPL="ngModel" required [ngStyle]="{ border: !reqdesPL.valid && reqdesPL.dirty  ?  '1px solid red': '' }">
                  <option value="" selected>- Seleccionar -</option>
                  <option *ngFor="let rd of reqdes" [value]="rd">{{rd}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row padding-bottom">
                <div class="col-md-4">
                    <label for="infbdd">
                      INFRASTRUCTURA / BBDD
                    </label>
                  </div>
              <div class="col-md-4">
                <select class="form-control" name="infbdd" [(ngModel)]="request.reqTechs[2].techscope" #infbdd="ngModel" required [ngStyle]="{ border: !infbdd.valid && infbdd.dirty  ?  '1px solid red': '' }">
                  <option value="" selected>- Selecionar -</option>
                  <option *ngFor="let bd of infraBd" [value]="bd">{{bd}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-control" name="expyearsreqBD" [(ngModel)]="request.reqTechs[2].exp" #expyearsreqBD="ngModel" required
                  [ngStyle]="{ border: !expyearsreqBD.valid && expyearsreqBD.dirty    ?  '1px solid red': '' }">
                  <option value="" selected>- Selecionar -</option>
                  <option *ngFor="let ex of nResources" [value]="ex">{{ex}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-control" name="reqdesBD" [(ngModel)]="request.reqTechs[2].reqdes" #reqdesBD="ngModel" required [ngStyle]="{ border: !reqdesBD.valid && reqdesBD.dirty  ?  '1px solid red': '' }">
                  <option value="" selected>- Selecionar -</option>
                  <option *ngFor="let rd of reqdes" [value]="rd">{{rd}}</option>
                </select>
              </div>
            </div>

          </div>

          <button class="btn btn-secondary btn-previous" type="button" (click)="next()" [disabled]="!newrequest.valid">
            <i class="fa fa-angle-double-right"></i>
          </button>

        </fieldset>


        <div class="form-group animated fadeIn" *ngIf="widget == 2">
          <button class="btn btn-primary" type="submit" [disabled]="!newrequest.valid">Crear</button>
        </div>
        <button class="btn btn-secondary btn-next" type="button" (click)="previous()" [disabled]="widget == 1">
          <i class="fa fa-angle-double-left"></i>
        </button>

      </form>
    </div>
  </div>

</div>