h3{
    font-variant: small-caps;
    text-align: center;
    color:white;
}

.list{
    border-radius: 5px;
    background-color:white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.header{
    border-top:4px solid #F7C03E;
    padding-top: 15px;   
}

p{
    color:grey;
}

.textAlign{
    text-align: center;
}

span{
    color:red;
}

.required{
    margin: 10px;
}
 
.btn-add{
    border-radius: 50px;
    background-color: #7ba9d0;
    float: right;
    padding: 2px 8px!important;
    
}


.reqtech{
    font-size: 10px;
    color:black;
}

.no-margin-bottom{
    margin-bottom: 0px;
}

textarea{
    height:100px;
    resize: none;
}

.btn-next{
    position: absolute;
    bottom: -25px;
    left: 30px;
}

.btn-previous{
    position: absolute;
    bottom: -25px;
    right: 0;
}

fieldset{
    overflow:hidden;
}

.container{
    width: 100%;
}

.btn-primary {
    margin-left: 15px;
}

select {
      text-align-last:center;
}

.align-center{
    text-align: center;
    padding-bottom: 20px;
}

.padding-bottom{
    padding-bottom: 15px;
}

.padding-bottom-reqs{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    margin-bottom: 25px;
}

legend {
    margin-bottom: 50px;
}

.cuadro{
    border: 1px solid #ccc;
    height: 270px;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.form-control-list {
    height: 25px!important;
    font-size: 14px!important;
    text-align: center;

}

.pointer{
    cursor: pointer;
    font-size: 20px;    
}

a:hover{
    color:red;
}