<div class="col-md-offset-1 col-md-10">
  <div class="row animated fadeIn list header">

    <div class="col-md-12 row">

      <form name="formNewRequest" #newrequest="ngForm" (ngSubmit)="createRequest()" novalidate>

        <fieldset class="form-group" *ngIf="widget==1">
          <div class="container">
            <legend>DATOS GENERALES</legend>
            <div class="form-group row">
              <label for="petitioner" class="col-md-3 col-form-label">SOLICITANTE</label>
              <div class="col-md-9">
                {{user.name}} {{user.lastName}}
              </div>
            </div>

            <div class="form-group row">
              <label for="title" class="col-md-3 col-form-label">PERFIL</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="profile" [(ngModel)]="request.profile" #profile="ngModel" required [ngStyle]="{ border: (!profile.valid && profile.dirty)  ?  '1px solid red': '' }"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="destask" class="col-md-3 col-form-label">DESCRIPCION ROL</label>
              <div class="col-md-9">
                <textarea class="form-control" name="destask" [(ngModel)]="request.descTask" #destask="ngModel" required maxlength="250"
                maxlength="200" [ngStyle]="{ border: !destask.valid && destask.dirty  ?  '1px solid red': '' }"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="nres" class="col-md-3 col-form-label">RECURSOS</label>
              <div class="col-md-3">
                <select class="form-control" name="nres" [(ngModel)]="request.nResources" #numrec="ngModel" required [ngStyle]="{ border: !numrec.valid && numrec.dirty ?  '1px solid red': '' }">
                  <option value="" selected>- Seleccionar -</option>
                  <option *ngFor="let nr of nResources" [value]="nr">{{nr}}</option>
                </select>
              </div>
              <label for="expstartdate" class="col-md-3 col-form-label">FECHA DE INCORPORACION</label>
              <div class="col-md-3">
                <input type="date" class="form-control" name="hoy" style="text-align:center;" [ngModel]="request.startDate | date:'yyyy-MM-dd'"
                  (ngModelChange)="assignStartDate($event)" min="{{request.creationDate | date:'yyyy-MM-dd'}}" required>
              </div>
            </div>

            <button class="btn btn-secondary btn-previous" type="button" (click)="next()" [disabled]="!newrequest.valid">
              <i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </fieldset>


        <fieldset class="form-group" *ngIf="widget==2">
          <div class="container ">

            <legend>REQUERIMIENTOS TÉCNICOS</legend>


            <div class="form-group row no-margin-bottom">

              <div class="col-md-4 align-center">
                <label for="area">AREA</label>
              </div>
              <div class="col-md-3 align-center">
                <label for="detalle">DETALLE</label>
              </div>
              <div class="col-md-2 align-center">
                <label for="expyearsreq">EXP. AÑOS</label>
              </div>
              <div class="col-md-2 align-center">
                <label for="reqdes2">REQ / DES</label>
              </div>
            </div>

            <div class="form-group row padding-bottom">
              <div class="col-md-4">
                <select class="form-control" name="area" [(ngModel)]="selectedArea" #ar="ngModel" (ngModelChange)="loadDetails()" required
                  [ngStyle]="{ border: !ar.valid && ar.dirty  ?  '1px solid red': '' }">
                  <option [value]="selectedArea" selected>- Selecionar -</option>
                  <option *ngFor="let a of areas" [ngValue]="a">{{a.nombreArea}}</option>
                </select>
              </div>
              <div class="col-md-3">
                <select class="form-control" name="det" [(ngModel)]="detalle" #det="ngModel" required [ngStyle]="{ border: !det.valid && det.dirty  ?  '1px solid red': '' }">
                  <option value="" selected>- Seleccionar -</option>
                  <option *ngFor="let d of details" [value]="d.nombreDetalle">{{d.nombreDetalle}}</option>
                </select>
              </div>

              <div class="col-md-2">
                <select class="form-control" name="expyearsreqDE" [(ngModel)]="experience" #expyearsreqDE="ngModel" required [ngStyle]="{ border: !expyearsreqDE.valid && expyearsreqDE.dirty    ?  '1px solid red': '' }">
                  <option value="" selected>- Selecionar -</option>
                  <option *ngFor="let ex of nResources" [value]="ex">{{ex}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-control" name="reqdesDE" [(ngModel)]="requeriment" #reqdesDE="ngModel" required [ngStyle]="{ border: !reqdesDE.valid && reqdesDE.dirty  ?  '1px solid red': '' }">
                  <option value="" selected>- Selecionar -</option>
                  <option *ngFor="let rd of reqdes" [value]="rd">{{rd}}</option>
                </select>
              </div>
              <div class="cold-md-1">
                <button class="btn btn-secondary" type="button" (click)="addRequeriment()" [disabled]="!newrequest.valid">
                  Añadir
                </button>
              </div>
            </div>

            <div class="cuadro">
              <div class="container">
                  <div *ngFor="let tech of reqTechnicals; let i = index">
                      <div class="form-group row padding-bottom-reqs animated fadeIn">
                      <div class="col-md-4 align-center-req">
                          <input class="form-control form-control-list" name="tec" type="text" readonly [value]="tech.area"/>
                      </div>
                      <div class="col-md-3">
                          <input class="form-control form-control-list" name="tec" type="text" readonly [value]="tech.techscope"/>
                      </div>
                      <div class="col-md-2">
                          <input class="form-control form-control-list" name="tec" type="text" readonly [value]="tech.exp"/>
                      </div>
                      <div class="col-md-2">
                          <input class="form-control form-control-list" name="tec" type="text" readonly [value]="tech.reqdes"/>
                      </div>
                      <div class="col-md-1">
                          <a (click)="deleteRequeriment(i)">
                              <i class="fa fa-trash-o pointer"></i>
                          </a>
                      </div>
                    </div>
                </div>
                
              </div>
          </div>

          </div>


        </fieldset>

        <div class="form-group animated fadeIn" *ngIf="widget == 2">
          <button class="btn btn-primary" type="submit" [disabled]="reqTechnicals.length == 0">Crear</button>
        </div>
        <button class="btn btn-secondary btn-next" type="button" (click)="previous()" [disabled]="widget == 1">
          <i class="fa fa-angle-double-left"></i>
        </button>

      </form>
    </div>
  </div>

</div>