<div class="modal-header header">
  <div class="row">
    <h3>Rellene los campos y adjunte el cv en formato pdf/word
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </h3>
  </div>
</div>
<div class="modal-body">
  <form name="formNewRequest" #newCandidate="ngForm" novalidate>

    <div class="form-group row">
      <div class="col-md-2">
        Candidato:
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" name="Candidatename" [(ngModel)]="candidate.name" #name="ngModel" required [ngStyle]="{ border: (!name.valid && name.dirty)  ?  '1px solid red': '' }"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        Curriculum:
      </div>
      <div class="col-md-9">
        <input type="file" class="form-control" name="photo" id="upload-photo" name="file" #file="ngModel" (change)="onFileChange($event)" ngModel required />
        <label for="upload-photo"><i class="fa fa-cloud-upload"></i></label>
        <span class="filename">{{filename}}</span>
      </div>
    </div>
    <div class="form-group row" *ngIf="msgErrSupport">
      <div class="col-md-offset-2 col-md-4 animated fadeIn">
        <span class="err">Formato no soportado</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-2">
        <button class="btn btn-primary" type="submit" (click)="addCv()" [disabled]="!newCandidate.valid">Subir</button>
      </div>
    </div>
  </form>

</div>