.align-center{
    text-align: center!important;
}

.modal-header{
    background-color:#3C6598;
}

.modal-body{
    padding-left: 35px;
    padding-top: 40px;
}

h3{
    color:white;
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.header{
    border-top:4px solid #F7C03E;
    padding-top: 15px;   
}

p{
    color:white;
}

.pull-right{
    margin-right:20px!important;
}

textarea{
    height:100px;
    resize: none;
}

.err{
    color: red;
}

label {
    cursor: pointer;
 }
 
 i{
     font-size: 50px;
     color:#3C6598;
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

.filename{
    color:black;
    padding-left: 15px;
}