<div class="col-md-12 margin">
  <div class="row" *ngIf="request != null">
    <div class="col-md-2 list">
      <p class="id">{{request.id}}</p>
    </div>
    <div class="col-md-9 request-inf list">
      <div class="row">
        <div class="col-md-11">
          <p class="request-date">
            {{request.creationDate | date:'dd/MM/yyyy'}}
          </p>
          <p class="request-title">
            {{request.profile}}
          </p>
          <p class="requester">
            {{request.petitioner.name}} {{request.petitioner.lastName}}
          </p>
          <p class="request-description">
            {{request.descTask}}
          </p>
          <p class="request-status">
            {{request.status}}
          </p>
        </div>
        <div class="col-md-1 arrow">
          <a routerLink="../request-details/{{request.id}}">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>