<div class="col-md-12">
  <div class="row">
    <div class="col-md-2 list">

      <p class="id">ID</p>

    </div>
    <div class="col-md-9 request-inf list">

      <p class="request-date">
        fecha
      </p>
      <p class="request-title">
        Solicitud de desarrollador web con perfil de Java y Appian.
      </p>
      <p class="requester">
        Solicitante
      </p>
      <p class="request-description">
        Un desarrollador web es un programador especializado, o dedicado de forma específica, en desarrollar aplicaciones de la World
        Wide Web o aplicaciones distribuidas en red que se ejecutan mediante HTTP desde un servidor web a un navegador web.
      </p>
    </div>
    <div class="col-md-1 arrow">
      <i class="fa fa-angle-double-right"></i>
    </div>
  </div>
</div>