h3{
    font-variant: small-caps;
    text-align: center;
}

.box{
    background-color:white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}


/* .id{
    font-size: 20px;
    padding: 50px;
    margin-bottom: 0px;
    background-color: #3C6598;
    padding-bottom: 100px;
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */

.no-margin-bottom{
    margin-bottom: 0px;
}

.container{
    width: 100%;
}

.request-title {
    font-size: 20px;
    font-weight: bold;
    color: #3C6598;
    padding-left: 20px!important;    
}

.request-description {
    padding-left: 20px!important;
}


.request-date{
    text-align: right;
    padding-top: 5px;
    margin-bottom: 8px;
    padding-right: 20px!important;
}

.requester{
    color: green;
    padding-left: 20px!important;
}

.request-inf{
    border-top:4px solid #F7C03E;
    padding-bottom: 15px;  
    padding-top: 15px;
    border-top-right-radius : 5px;  
    border-bottom-right-radius : 5px;  
}


.margin-bottom{
    padding-bottom: 50px;
}

.creation-date {
    float: right;
}   