.login{
    margin-top: 15%;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}



span{
    color:red;
}

.required{
    margin: 10px;
}


.background {
    background: linear-gradient(90deg, #3C6598 58%, #f7f7f7  42%);
}
.row {
    height: 100%;
    margin-right: 0px; 
    margin-left: 0px; 
}


