.login{
    margin-top: 15%;
    border:2px solid #E5E5E5;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    background-color:white;
}

span{
    color:red;
}

.required{
    margin: 10px;
}


.background {
    background: linear-gradient(90deg, red 65%, #f7f7f7  35%);
}
.row {
    height: 100%;
    margin-right: 0px; 
    margin-left: 0px; 
}


