h3{
    font-variant: small-caps;
    text-align: center;
}

.box{
    background-color:#E9EBEE;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

/* color de plexus : #F7C03E */

.filter-style{
    padding-bottom: 15px;  
    padding-top: 25px;
    border-left: 1px solid white;
    height: 132px;
    padding-left: 20px;
}

.filter-component{
    position: fixed;
    z-index: 500;
} 

.search-request {
    font-size: 19px;
}
