<div class="col-md-12 filter-component box">
  <div class="row animated fadeIn">

    <div class="col-md-8 filter-style ">
      <div class="row form-group">
        <div class="col-md-2">
          <label for="perfil">Perfil:</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="perfil" placeholder="Perfil" [(ngModel)]="currentFilter.perfil" #filtroPerfil="ngModel"
          />
        </div>

        <div class="col-md-2">
          <label for="solicitante">Solicitante:</label>
        </div>
        <div class="col-md-2" *ngIf="requesters != undefined && currentRequester != undefined">
          <select class="form-control" name="solicitante" [(ngModel)]="currentRequester">
            <option *ngFor="let req of requesters; let i = index" [ngValue]="req">
              {{req.requester}}
            </option>
          </select>
        </div>
        <div class="col-md-1">
          <label for="tecnologia">Tecnologia:</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="tecnologia" placeholder="Tecnología" [(ngModel)]="currentFilter.tecnologia"
            #filtroTecnologia="ngModel" />
        </div>
        
        <div class="col-md-1">
            <button class="search-request" (click)="clear()">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
          </div>

      </div>
      <div class="row form-group">
        <div class="col-md-2">
          <label for="descripcion">Descripción:</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="descripcion" placeholder="Descripción" [(ngModel)]="currentFilter.descripcion"
            #filtroDescripcion="ngModel" />
        </div>

        <div class="col-md-2">
          <label for="fechaAlta">Fecha Alta:</label>
        </div>
        <div class="col-md-2">
          <input class="form-control" #drp="bsDaterangepicker" placeholder="Rango fechas" bsDaterangepicker [(ngModel)]="bsRangeValue">
        </div>
        <div class="col-md-1">
          <label for="estado">Estado:</label>
        </div>
        <div class="col-md-2">
          <select class="form-control" name="requestStatus" [(ngModel)]="currentFilter.estado" #requestStatus="ngModel">
            <option value="" selected>- Seleccionar -</option>
            <option *ngFor="let e of estados" [value]="e">{{e}}</option>
          </select>
        </div>

        <div class="col-md-1">
          <button class="search-request" (click)="onFilter()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>

      </div>
    </div>

  </div>
</div>