nav{
    background-color: #FC001A;
    border-bottom-color: white;
    font-family: verdana;
    font-size: 14px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    border-radius: 0px;
}

.container {
    width: 100%;
    margin-left: 25px!important;
    margin-right: 50px!important;
}
.navbar-nav{
    float: right;
}

.dropdown-toggle{
    padding-right: 50px;
    background-color: #FC001A;
}
.dropdown-toggle:hover{
    background-color:#c22727 !important;
}
.navbar-nav>li>.dropdown-menu{
    background: black;
}
.dropdown-menu>li>a{
    color: #fff;
    font-size: 13px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #c22727;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
     background-color:#c22727; 
}

.dropdown-menu .divider {
   margin: 0px; 
}

ul{
    padding-top: 0px;
    padding-bottom: 0px;
}

.pointer{
    cursor: pointer;
}

a{
    color: white;
}


