<div class="modal-header header">
  <div class="row">
    <h3>Datos del candidato
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </h3>
  </div>
</div>
<div class="modal-body">
  <form name="formCandidate" #candidate="ngForm" novalidate>

    <div class="row candidate-data">
      <div class="form-group row margin-bottom">
        <div class="col-md-2">
          <strong>Candidato:</strong>
        </div>
        <div class="col-md-6">
          {{currentCandidate.name}}
        </div>
        <div class="col-md-2 text-align-right">
          <strong>Fecha de Alta:</strong>
        </div>
        <div class="col-md-2 text-align-right">
          {{currentCandidate.createdDate}}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <strong>Estado:</strong>
        </div>
        <div class="col-md-6">
          {{currentCandidate.status}}
        </div>
      </div>
    </div>
    <pdf-viewer name="pdf" [src]="pdfSrc" [render-text]="true" [zoom]="1.2" [original-size]="true" style="display: block;"></pdf-viewer>

    <div class="row candidate-data">


      <div class="form-group row">
        <div class="col-md-12">
          <fieldset class="form-group">
            <legend>COMENTARIOS</legend>
            <ng-container *ngFor="let comment of currentCandidate.comments">
              <ul>
                <li class="delete-comment" (click)="deleteComment(comment)" >{{comment.description}}</li>
              </ul>
            </ng-container>
          </fieldset>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <h2>Agregar comentario:</h2>
          <textarea name="comment" [(ngModel)]="newComment.description" rows="30" cols="120"></textarea>
        </div>
      </div>

      <div class="form-group row" *ngIf="user.profile == 'area' || user.profile == 'admin'">
        <div class="col-md-12 add-comment">
          <button class="btn" type="button" (click)="addComment()" [disabled]="newComment.description == '' ">Añadir comentario</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-discard" type="submit" (click)="discardCandidate()">Descartar</button>
        </div>
        <div class="col-md-6 text-align-right">
          <button class="btn btn-primary" type="submit" (click)="addCandidate()" [disabled]="!candidate.valid">Revisado</button>
        </div>
      </div>
    </div>
  </form>
</div>