.align-center{
    text-align: center!important;
}

.modal-header{
    background-color:#3C6598;
}

.modal-body{
    padding-left: 35px;
    padding-top: 40px;
    padding-right: 35px;
}

.header{
    border-top:4px solid #F7C03E;
    padding-top: 15px;   
}

h3{
    color:white;
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

span{
    color:black;
}

.pull-right{
    margin-right:20px!important;
}

textarea {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    resize: none;
}

.err{
    color: red;
}

label {
    cursor: pointer;
 }
 

 .text-align-right{
     text-align: right;
 }
 
