<div class="col-sm-3 col-md-2 nav-side-menu">
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">

          <li *ngIf="isAdmin" data-toggle="collapse" data-target="#service" class="collapsed">
                <a routerLink="admin">
                    <i class="fa fa-dashboard fa-lg"></i> <span>Manage accounts</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li class="sublist">New account</li>
            </ul>

          <li data-toggle="collapse" data-target="#service" class="collapsed">
              <a href="#">
                  <i class="fa fa-globe fa-lg"></i> <span>Services</span>
                  <span class="arrow"></span>
              </a>
          </li>
          <ul class="sub-menu collapse" id="service">
              <li class="sublist">New Service 1</li>
              <li class="sublist">New Service 2</li>
              <li class="sublist">New Service 3</li>
          </ul>


          <li data-toggle="collapse" data-target="#new" class="collapsed">
              <a href="#">
                  <i class="fa fa-car fa-lg"></i> <span>New</span>
                  <span class="arrow"></span>
              </a>
          </li>
          <ul class="sub-menu collapse" id="new">
              <li class="sublist">New Service 1</li>
              <li class="sublist">New Service 2</li>
              <li class="sublist">New Service 3</li>
          </ul>
          <li>
              <a href="#">
                  <i class="fa fa-user fa-lg"></i> <span>Profile</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fa fa-users fa-lg"></i> <span>Users</span>
              </a>
          </li>
      </ul>
  </div>
</div>
